# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log.*

# Node modules and build artifacts
node_modules
dist
dist-ssr
build

# Environment variables
.env
.env.*

# Test coverage
coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.bak
*.tmp
*.orig

# Miscellaneous
Thumbs.db
*.pid
*.seed
*.pid.lock

# Ignore local npm and yarn cache
.npm
.yarn
.pnp.*
